*{
  box-sizing: border-box;
}

body{
    background-image: url(/images/try7.jpeg);
    background-size: cover;
    overflow: hidden;
}
h1{
    text-align: center;
    font-size: 500%;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(165, 207, 241);
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #ffffff3b, 0 0 20px #ffffff3a, 0 0 30px #ffffff24, 0 0 40px #efefef00;
    
    }
    
    to {
      text-shadow: 0 0 20px #e2e6ec, 0 0 30px #4db2ff, 0 0 40px #1d5865;
    }
}
  

.grid{
  position: relative;
  left: 4%;
  margin: auto;
  width: 75%;
  height: auto;
}


button{
   
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, rgba(64, 83, 141, 0.665),  rgba(26, 70, 80, 0.91), rgba(27, 106, 60, 0.636));
    color: rgb(188, 202, 246);
    font-size: 16px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    text-shadow: 2px 2px 4px #25242453;
    border: 2px solid #bfe5fdd3;
    transition: all 0.5s;
}



button span {

    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:hover{
    box-shadow: -4px 4px 8px 0 rgba(194, 193, 193, 0.557), 0 6px 20px 0 rgba(165, 164, 164, 0.538);
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
    
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }


#home1{
   position: absolute;
   top: 10%;
   right: 5%;
}

#home1:hover{
  background-color: transparent;
color: rgba(132, 171, 255, 0.855);
text-decoration: underline;
}

#home:active{
  background-color: transparent;
  color: #fa5591c8;
  text-decoration: underline;
}

@media only screen and (max-width:600px){
  body{ background-image: url(/images/whitewall.jpeg); overflow: scroll;}
  h1{ font-size: 400%; color: rgba(36, 20, 36, 0.834); animation: none;}
  button{ background-image: linear-gradient(rgb(244, 241, 243),rgb(254, 244, 244)); color: rgba(12, 11, 12, 0.973); 
    box-shadow: -4px 4px 8px 0 rgba(33, 30, 30, 0.557), 0 6px 20px 0 rgba(44, 39, 39, 0.538); width: 50%; position: relative;
    left: 40%; padding: 10px 20px;}
}