body{
    background-image: url(/images/currencymain.jpeg);
    background-size: cover;
}


h1{
    text-align: center;
    font-size: 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(16, 71, 83);
    margin-top: 5%;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #5ef6f6dc, 0 0 20px #68c4dede, 0 0 30px #47b2c5c5, 0 0 40px #efefefd5;
    
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #aed8f8, 0 0 40px #1d5865;
    }
}

.currency{
    color: rgb(16, 15, 15);
    position: relative;
    left: 6%;
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: rgba(251, 250, 250, 0.35);
    width: 35%;
    padding: 1% 1%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 6%;
    border: 2px solid #fcfcfcfc;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: -4px 4px 8px 0 rgba(13, 13, 13, 0.343), 0 6px 20px 0 rgba(29, 27, 27, 0.406);
    text-shadow: -1px 1px rgb(250, 248, 248);
}

#fromtxt{
    color: #ffffff;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    left: 5%;
    font-size: 350%;
    text-shadow: 4px -4px black;
}

#totxt{
    color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    left: 5%;
    font-size: 350%;
    text-shadow: 4px -4px black;
}

#home3{
    position: absolute;
    top: 10%;
    right: 10%;
}


#input{
    position: absolute;
    left: 54%;
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: rgba(251, 250, 250, 0.35);
    width: 35%;
    padding: 1% 1%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 6%;
    border: 2px solid #fffdfdfc;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: -4px 4px 8px 0 rgba(13, 13, 13, 0.343), 0 6px 20px 0 rgba(29, 27, 27, 0.406);
}

@media only screen and (max-width:600px) { 
    body{ background-image: url(/images/whitewall.jpeg); overflow: scroll;} 
    h1{color: rgba(36, 20, 36, 0.834); animation: none; text-shadow: -2px 2px rgb(177, 118, 118);}
    #fromtxt { font-size: 250%; text-shadow: 1.5px -1.5px black;}
    #totxt { font-size: 250%; text-shadow: 2px -2px black;}
    #input{ font-size: medium; letter-spacing: 0px; padding: 2% 2%; border: 2px solid black;}
    .currency{ color: rgb(42, 98, 124); padding: 2% 2%; border: 2px solid black; letter-spacing: 0px;}
}
